* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-map {
  height: 60vh;
  width: 100%;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdf-button {
  width: 30vw;
  height: 5vh;
  margin-top: 4vh;
  border-radius: 100px;
  border: thin solid white;
  background-color: teal;
  color: white;
}

form {
  width: 95%;
  height: 15vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

form > * {
  width: 80%;
  height: 4vh;
  border: thin solid teal;
  border-radius: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form button{
  background-color: teal;
  color: white;
}

input:focus{
  outline: none;
}


