* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid black;
}

#map {
}
